@font-face {
  font-family: "rejoice";
  src: url("/fonts/Rejouice-Headline.ttf");
}
@font-face {
  font-family: "nb";
  src: url("/fonts/NBInternationalProBoo.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nb";
}
html,
body {
  height: 100%;
  width: 100%;
}
